.editor {
    margin-top: var(--a-spacing-6);
    /*clamp: minimum, ideal, max */
    padding: 0 clamp(1rem, 2vw, 4rem);
    caret-color: green;

    [contenteditable] {

        &:focus-within {
            outline: none;
        }
    }
}

.PARAGRAPH {
    margin-bottom: var(--a-spacing-8);
}

.TITLE1 {
    font-size: var(--a-font-size-heading-medium);
    letter-spacing: -0.002em;
    line-height: var(--a-font-line-height-heading-medium);
    font-weight: var(--a-font-weight-bold);
    margin-bottom: var(--a-spacing-2);
}

.TITLE2 {
    font-size: var(--a-font-size-heading-small);
    letter-spacing: -0.001em;
    line-height: var(--a-font-line-height-heading-small);
    font-weight: var(--a-font-weight-bold);
    margin-bottom: var(--a-spacing-2);
}