.editor {
    margin-top: var(--a-spacing-6);
    /*clamp: minimum, ideal, max */
    padding: 0 clamp(1rem, 2vw, 4rem);
    caret-color: green;

    [contenteditable] {

        &:focus-within {
            outline: none;
        }
    }
}

.PARAGRAPH {
    font-size: 16.5px;
    line-height: var(--a-font-line-height-heading-xsmall);
    margin-bottom: 27px;
}

.TITLE1 {
    font-size: 19.5px;
    letter-spacing: 0.375px;
    line-height: var(--a-font-line-height-heading-xsmall);
    font-weight: var(--a-font-weight-bold);
    margin-bottom: var(--a-spacing-1-alt);
}

.TITLE2 {
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: var(--a-font-line-height-heading-xsmall);
    font-weight: var(--a-font-weight-bold);
    margin-bottom: var(--a-spacing-1-alt);
}