.editor {
  align-self: start;
  max-width: 694px;
  min-width: 480px;
  width: 100%;
  /*clamp: minimum, ideal, max */
  padding: 0 clamp(1rem, 2vw, 4rem);
  /* make scrollbar reach the top with padding-top rathern than margin-top */
  padding-top: var(--ax-space-24);

  [contenteditable] {
    &:focus-within {
      outline: none;
    }
  }
}

.editor-surface,
.editor-surface * {
  user-select: text;
  -webkit-user-select: text;
}

.editor-surface.is-drag-selecting [data-literal-index] {
  caret-color: transparent;
}

.editor-surface.is-drag-selecting [data-literal-index]:where(:focus, :focus-visible) {
  outline: 0;
  box-shadow: none;
}

.editor-surface td [data-literal-index],
.editor-surface th [data-literal-index] {
  display: block;
  width: 100%;
  min-height: 1.4rem;
  white-space: pre-wrap;
}

.PARAGRAPH {
  font-size: 16.5px;
  line-height: var(--ax-font-line-height-large);
  margin-bottom: var(--ax-space-28);
}

.PARAGRAPH:has(+ .PARAGRAPH > ul){
  margin-bottom: 0;
}

.PARAGRAPH > ul {
  margin-top: 0;
}

.TITLE1 {
  font-size: 19.5px;
  letter-spacing: 0.073px;
  line-height: var(--ax-font-line-height-heading-xsmall);
  font-weight: 700;
  margin-bottom: var(--ax-space-6);
}

.TITLE2 {
  font-size: 18px;
  letter-spacing: 0.067px;
  line-height: var(--ax-font-line-height-heading-xsmall);
  font-weight: 700;
  margin-bottom: var(--ax-space-6);
}

.TITLE3 {
  font-size: 16.5px;
  letter-spacing: 0.062px;
  line-height: var(--ax-font-line-height-heading-xsmall);
  font-weight: 700;
  margin-bottom: var(--ax-space-6);
}
