.letterButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: inherit;
    border-width: 0;
    border-radius: 0.125rem;
    justify-content: space-between;
    font-weight: var(--a-font-weight-regular);
    font-size: var(--a-font-size-medium);
    padding: 0.125rem 0.25rem;
    text-align: left;
}

.letterButton >span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.letterButton:hover {
    cursor: pointer;
    background-color: var(--a-surface-action-subtle-hover);
}

.letterButton:hover {
    cursor: pointer;
    background-color: var(--a-surface-action-subtle-hover);
}

.letterButtonOpen {
    color: var(--a-white);
    background-color: var(--a-surface-action-selected);
}

.letterButtonOpen:hover {
    background-color: var(--a-surface-action-selected-hover);
}

.buttonElement {
    display: block;
}

.popoverBody {
    color: var(--a-text-default);
    font-size: var(--a-font-size-medium);
    max-width: 300px;
}

.popover {
    padding: 1.3125rem
}