.brevvelgerContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 1rem;
    gap: 1.5rem;
    background: var(--a-white);
    border: 0.0625rem solid rgba(0, 0, 0, 0.19);
    border-radius: 0.25rem;
    max-height: inherit;
}

.sectionHeading {
    font-size: var(--a-font-size-heading-xsmall);
    margin-left: 0.25rem;
}

.brevvelgerContainer p {
    margin: 0.625rem 0 0;
}

.brevvelgerContainer > div {
    width: 100%;
}

.brevvelgerContainer h1 {
    font-size: var(--a-font-size-heading-medium);
}

.brevvelgerContainer hr{
    margin-left: 0.0625rem;
    margin-right: 0.0625rem;
    width: 98%;
}

.mottakerCard {
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
    border: 0.0625rem solid var(--a-gray-600)
}

.mottakerCardHeading {
    margin-left: 0;
}

.mottakerCard > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.letterGroup {
    --ac-expansioncard-bg: var(--a-white);
    --ac-expansioncard-border-open-color: var(--a-white);
    --ac-expansioncard-border-hover-color: var(--a-white);
    --__ac-expansioncard-border-width: 0;
    --__ac-expansioncard-border-radius: 0;
    padding: 0;
    margin: 0;
}

.letterGroupHeader{
    padding: 0 0 0 0.25rem;
    font-weight: normal;
    font-size: var(--a-font-size-medium);
}
