html {
    line-height: 1.5rem;
    font-family: "Source Sans Pro", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pensjonsbrev-rot {
    max-width: 44rem;
}

img.pensjonsbrev-logo {
    height: 3rem;
    margin-bottom: 2rem;
}

.pensjonsbrev-brev {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1.pensjonsbrev-tittel {
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.pensjonsbrev-brevhode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pensjonsbrev-brevhode .pensjonsbrev-brevdato {
    display: none;
}

.pensjonsbrev-brevkropp {
    margin-top: 2rem;
}

h2.pensjonsbrev-title1 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.7rem;
}

.pensjonsbrev-paragraph {
    margin-bottom: 1.5rem;
    /* endret */
    border-left: 0.15rem solid #CCE1FF;
    padding-left: 1.3rem;
}

/* Common */
.pensjonsbrev-text-left {
    text-align: left;
}

.pensjonsbrev-text-right {
    text-align: right;
}

.pensjonsbrev-text-italic {
    font-style: italic;
}

.pensjonsbrev-text-bold {
    font-weight: bold;
}

/* Sakspart */
.pensjonsbrev-sakspart {
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, auto);
}
.pensjonsbrev-sakspart-tittel {
    margin-top: 1rem;
}
/* fjern margin på første tittel slik at vi ikke får for større mellomrom til tittel */
.pensjonsbrev-sakspart > .pensjonsbrev-sakspart-tittel:nth-child(1) {
    margin-top: 0;
}
.pensjonsbrev-sakspart-verdi {
    margin-top: 0.4rem;
}

/* table */
table.pensjonsbrev-table {
    margin-top: 1rem;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table.pensjonsbrev-table > thead {
    background-color: #E6F0FF;
}

table.pensjonsbrev-table > thead th {
    padding: 0.9rem 0.5rem;
}

table.pensjonsbrev-table > tbody td {
    padding: 0.6rem 0.5rem;
}

table.pensjonsbrev-table > tbody > tr:nth-child(even) {
    background-color: #F7F7F7;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

/* Closing */
.pensjonsbrev-closing-greeting {
    margin-top: 3rem;
    margin-bottom: 1.3rem;
}

.pensjonsbrev-closing-automatisk {
    margin-top: 0.3rem;
}

.pensjonsbrev-closing-manuell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pensjonsbrev-closing-saksbehandler {
    margin-top: 1.3rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
}

/* Liten -> Stor */
@media screen and (min-width: 30em) {
    .pensjonsbrev-brevdato {
        display: none;
    }
    .pensjonsbrev-brevhode .pensjonsbrev-brevdato {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .pensjonsbrev-sakspart {
        grid-auto-flow: row;
        grid-template-columns: repeat(2, auto);
        grid-row-gap: 0.4rem;
        grid-column-gap: 1rem;
        grid-template-rows: none;
    }
    /* bruker row/column gap */
    .pensjonsbrev-sakspart > div {
        margin-top: 0;
    }
}

/* template dok */

.pensjonsbrev-conditional {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: min-content 4rem auto;
    grid-column-gap: 1.3rem;
}
.pensjonsbrev-conditional-line {
    border-left: 0.15rem solid #CCE1FF;
    width: 0.8rem;
}
.pensjonsbrev-conditional-line > hr {
    border: 0.075rem solid #CCE1FF;
    margin-top: 0.7rem;
}
.pensjonsbrev-conditional-line.pensjonsbrev-first {
    border-top: 0.15rem solid #CCE1FF;
    margin-top: 0.5rem;
}
.pensjonsbrev-conditional-line.pensjonsbrev-last {
    margin-bottom: 0.5rem;
    border-bottom: 0.15rem solid #CCE1FF;
}
.pensjonsbrev-conditional-line:nth-last-child(3) {
    border-bottom: 0.15rem solid #CCE1FF;
}
.pensjonsbrev-conditional-body {
    margin-bottom: 1.1rem;
}
.pensjonsbrev-conditional-body > .pensjonsbrev-predicate {
    margin-bottom: 1.3rem;
}

.pensjonsbrev-list {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 3rem;
}
.pensjonsbrev-item {

}

.pensjonsbrev-brev > * {
    margin-left: 1.3rem;
}
.pensjonsbrev-brevkropp {
    margin-left: 0;
}
.pensjonsbrev-brevkropp > * {
    margin-left: 1.3rem;
}
.pensjonsbrev-paragraph {
    margin-left: 0;
}

.pensjonsbrev-expression {
    display: inline;
    background-color: #E6F0FF;
}

.pensjonsbrev-foreach-expr {
    padding-left: 1.3rem;
    border-left: 0.15rem solid #CCE1FF;
}
.pensjonsbrev-foreach-body {
    margin-left: 1.3rem;
    border-left: 0.15rem solid #a34d17;
    padding-left: 1.3rem;
}