version: 2

registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{secrets.READ_PACKAGES_TEMP}}
  gradle-artifactory:
    type: maven-repository
    url: https://maven.pkg.github.com/navikt/pensjonsbrev
    username: ${{ github.repository_owner }}
    password: ${{secrets.READ_PACKAGES_TEMP}}

updates:
  # ==============
  # KOTLIN BACKEND
  # ==============
  - package-ecosystem: "gradle"
    directories:
      - "/"
      - "/alder-brevbaker-api-model"
      - "/aldersmaler"
      - "/brevbaker-api-model-common"
      - "/brevbaker"
      - "/brevbaker-dsl"
      - "/etterlattemaler"
      - "/pdf-bygger"
      - "/pensjon-brevbaker"
      - "/pensjon-brevbaker-api-model"
      - "/pensjonsmaler"
      - "/skribenten-backend"
      - "/template-model-generator"
      - "/ufoere-brevbaker-api-model"
      - "/ufoeremaler"
    schedule:
      interval: "monthly"
      day: "sunday"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    registries:
      - gradle-artifactory
    ignore:
      - dependency-name: "no.nav.pensjon.brevbaker:brevbaker-api-model-common"
    groups:
      postgresql:
        patterns:
          - "org.postgresql:postgresql"
      backend:
        patterns:
          - "ch.qos.logback:logback-classic"
          - "com.fasterxml.jackson*"
          - "com.google*"
          - "commons-codec:commons-codec"
          - "com.natpryce:hamkrest"
          - "com.zaxxer:HikariCP"
          - "dev.zacsweers.kctfork:ksp"
          - "io.getunleash*"
          - "io.ktor*"
          - "io.micrometer*"
          - "net.logstash.logback:logstash-logback-encoder"
          - "no.nav*"
          - "org.apache.pdfbox*"
          - "org.assertj:assertj-core"
          - "org.flyway*"
          - "org.jetbrains*"
          - "org.junit*"
          - "org.testcontainers*"
          - "io.github.classgraph:classgraph"


  # =============
  # FRONTEND
  # =============
  - package-ecosystem: "npm"
    directories:
      - "/skribenten-web/bff"
      - "/skribenten-web/frontend"
      - "/brevoppskrift-web/bff"
      - "/brevoppskrift-web/frontend"
    schedule:
      interval: "monthly"
      day: "sunday"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    registries:
      - npm-github
    groups:
      dev:
        patterns:
          - "*eslint*"
          - "prettier"
          - "typescript"
          - "@typescript-eslint*"
          - "stylelint*"
      frontend:
        patterns:
        - "*"

  # ==============
  # GITHUB ACTIONS
  # ==============
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "sunday"
    cooldown:
      default-days: 7

  # ==============
  # Docker frontend
  # ==============
  - package-ecosystem: "docker"
    directories:
      - "/brevoppskrift-web/bff"
      - "/skribenten-web/bff"
    schedule:
      interval: "monthly"
      day: "sunday"
    cooldown:
      default-days: 7
    groups:
      docker-frontend:
        patterns:
          - "*"

  # ==============
  # Docker backend
  # ==============
  - package-ecosystem: "docker"
    directories:
      - "/pensjon-brevbaker"
      - "/pdf-bygger"
      - "/skribenten-backend"
    schedule:
      interval: "monthly"
      day: "sunday"
    cooldown:
      default-days: 7
    groups:
      docker-frontend:
        patterns:
          - "*"