
.letter {
    width: 43.75rem;
    padding-left: 4.0625rem;
    margin-top: 1.375rem;
    margin-bottom: 3rem;
}

.letter > * {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    border-radius: 0.25rem;
}

.letter > h1 {
    margin-bottom: 1.875rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.letter span[contenteditable] {
    outline: 0 solid transparent;
    min-width: 0.0625rem;
}
.letter span[contenteditable]:empty::before {
    content: "​";
}