#Used for local testing purposes
services:
  pdf-bygger:
    build: ./pdf-bygger
    environment:
      - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5016 -Djdk.lang.Process.launchMechanism=vfork #used for Apple M1 compatability
      - PDF_COMPILE_TIMEOUT_SECONDS=200
      - PDF_BYGGER_COMPILE_TMP_DIR=/tmp
    ports:
      - "8081:8080"
      - "5016:5016"
  pensjon-brevbaker:
    environment:
      - NAIS_APP_NAME=brevbaker
      - PDF_BUILDER_URL=http://pdf-bygger:8080
      - AZURE_OPENID_CONFIG_JWKS_URI=https://login.microsoftonline.com/966ac572-f5b7-4bbe-aa88-c76419c0f851/discovery/v2.0/keys
      - AZURE_OPENID_CONFIG_ISSUER=https://login.microsoftonline.com/966ac572-f5b7-4bbe-aa88-c76419c0f851/v2.0
      - AZURE_APP_CLIENT_ID=66a118a6-95db-4a64-be81-3af02048a46e
      - AZURE_APP_PRE_AUTHORIZED_APPS=[{"name":"skribenten-backend","clientId":"adce3431-deeb-422f-959c-298b644b7611"}]
      - KAFKA_PDF_RENDER_TOPIC=pensjonsbrev.pdf-bygger-render
      # Allows requests without auth-header #opens up debug port
      - JAVA_TOOL_OPTIONS=-Dio.ktor.development=true -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5015
    build: ./pensjon-brevbaker
    ports:
      - "8080:8080"
      - "5015:5015" # debug port
    env_file:
      - ./pensjon-brevbaker/secrets/unleash.env
      - ./pensjon-brevbaker/secrets/kafka/kafka-secret.env
    volumes:
      - ./pensjon-brevbaker/secrets/kafka:/secrets
      - ./pensjon-brevbaker/secrets/kafka/client.keystore.p12:/secrets/client.keystore.p12
      - ./pensjon-brevbaker/secrets/kafka/client.truststore.jks:/secrets/client.truststore.jks
  skribenten-backend:
    profiles:
      - skribenten
    build: ./skribenten-backend
    depends_on:
      skribenten-backend-db:
          condition: service_healthy
    ports:
      - "8082:8080"
      - "5017:5017"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - ./skribenten-backend/secrets/azuread.env
      - ./skribenten-backend/secrets/unleash.env
    environment:
      - PORT=8080
      - NAIS_APP_NAME=skribenten-backend
      - DB_HOST=skribenten-backend-db
      - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5017 -Dconfig.resource=application-local.conf
      - TJENESTEBUSS_INTEGRASJON_URL=http://tjenestebuss-integrasjon:8080
      - TJENESTEBUSS_INTEGRASJON_SCOPE=api://dev-fss.pensjonsbrev.pensjonsbrev-tjenestebuss-lokal/.default
      - BREVBAKER_URL=http://pensjon-brevbaker:8080

  skribenten-backend-db:
    profiles:
      - skribenten
    image: 'postgres:14-alpine'
    ports:
      - "5432:5432"
    healthcheck:
      test: [ 'CMD', 'pg_isready', '-U', 'postgres' ]
      interval: 3s
    restart: always
    environment:
      POSTGRES_PASSWORD: pass

  tjenestebuss-integrasjon:
    build: ./tjenestebuss-integrasjon
    profiles:
      - skribenten
    ports:
      - "8086:8080"
      - "5018:5018"
    env_file:
      - tjenestebuss-integrasjon/secrets/docker.env
    environment:
      - STS_URL=https://security-token-service.dev.adeo.no
      - SAMHANDLERSERVICE_URL=https://wasapp-q2.adeo.no/
      - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5018

  wonderwall:
    profiles:
      - skribenten
    image: ghcr.io/nais/wonderwall:latest
    platform: linux/amd64
    ports:
      - "8083:8083"
    restart: on-failure
    env_file:
      - skribenten-web/bff/.env
    environment:
      - WONDERWALL_AUTO_LOGIN=true
      - WONDERWALL_AUTO_LOGIN_IGNORE_PATHS=/bff/*
      - WONDERWALL_OPENID_PROVIDER=azure
      - WONDERWALL_INGRESS=http://localhost:8083
      - WONDERWALL_BIND_ADDRESS=0.0.0.0:8083
      - WONDERWALL_UPSTREAM_HOST=skribenten-bff:8084
      - WONDERWALL_LOG_LEVEL=debug
      - WONDERWALL_LOG_FORMAT=text
  skribenten-bff:
    profiles:
      - skribenten
    build:
      context: skribenten-web/bff
    secrets:
      - npmrc
    env_file:
      - skribenten-web/bff/.env
    ports:
      - "8084:8084"
    environment:
      NODE_ENV: "development"
      EXPRESS_PORT: "8084"
      EXPRESS_HOST: "::"
      SKRIBENTEN_API_URL: "http://skribenten-backend:8080"
      SKRIBENTEN_API_SCOPE: "api://dev-gcp.pensjonsbrev.skribenten-backend/.default"
      PSAK_BASE_URL: "https://pensjon-psak-q2.dev.adeo.no"

  brevoppskrift:
    profiles:
      - skribenten
    build:
      context: brevoppskrift-web/bff
    ports:
      - "8088:8088"
    environment:
      NODE_ENV: "development"
      EXPRESS_PORT: "8088"
      EXPRESS_HOST: "::"
      BREVBAKER_API_URL: "http://pensjon-brevbaker:8080"

  locust-master:
    depends_on:
      locust-worker:
        condition: service_started
    profiles:
      - locust
    image: locustio/locust
    ports:
      - "20080:20080"
      - "8089:8089"
    volumes:
      - ./locust:/mnt/locust
    command: -f /mnt/locust/locustfile.py --master -H https://pensjon-brevbaker.intern.dev.nav.no

  locust-worker:
    deploy:
      replicas: 2
    profiles:
      - locust
    image: locustio/locust
    volumes:
      - ./locust:/mnt/locust
    command: -f /mnt/locust/locustfile.py --worker --master-host locust-master

networks:
  default:
    name: pensjon-local
secrets:
  npmrc:
    file: ~/.npmrc