body {
  background: var(--ax-neutral-200);
}

:root {
  --largest-width: 1500px;
  --minimum-width: 768px;
}

.page-margins {
  /* max-width: var(--largest-width);
  min-width: var(--minimum-width); */
  margin: 0 auto;
  /* padding: 0 24px; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.expression {
  background: var(--ax-meta-purple-300);
  white-space: break-spaces;
}

.conditional {
  background: var(--ax-accent-100);
  margin: 1rem 0;
}

.show-if,
.show-else {
  .conditional {
    margin-left: 1rem;
  }
  .expression,
  code {
    background: var(--ax-accent-300);
  }
}

@keyframes highlight-animation {
  0% {
    background-color: var(--ax-warning-500);
    box-shadow: 0 0 0 1rem var(--ax-warning-500);
  }
  100% {
    background-color: var(--ax-warning-300);
    box-shadow: 0 0 0 1rem var(--ax-warning-300);
  }
}

.highlight {
  background: var(--ax-warning-300);
  box-shadow: 0 0 0 1rem var(--ax-warning-300);
  animation: highlight-animation 0.5s ease-out;
}
