@navikt:registry=https://npm.pkg.github.com

allow-git=none       # block install via git to avoid script overrides
ignore-scripts=true  # block pre-install and post-install scripts
min-release-age=7    # days cooldown: block installs released later
