.pageContainer{

}

.outerContainer {
    background-color: var(--a-bg-subtle);
}

.innterContainer{
    display: flex;
    margin-bottom: 3rem;
}

.languageSelection {
    display: block;
    float: right;
    width: 10%;
}