.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F7F7F7;
    color: rgba(0, 0, 0, 0.56);
    margin-bottom: 1.875rem;
}

.dato {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sakspartContainer {
    display: inline-grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 0.4rem;
    grid-column-gap: 1rem;
    grid-template-rows: none;
}