.content {

}

.filters {
    display: flex;
    justify-content: space-between;
}

.filterButton {
    line-height: 1rem; /* 125% */
    letter-spacing: 0.002rem;
    margin-top: 0.88rem;
}

.filterGroup {
    width: 50%;
    margin-top: 0.75rem;
}

.lastSearchedText {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
}