.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;

    /* notEditable */
    background-color: #F7F7F7;
    color: rgba(0, 0, 0, 0.56);
}

.saksbehandlere {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
