<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="no.nav.pensjon.brev.pdfbygger.logging.NavJsonEncoder" />
    </appender>
    <root level="INFO">
        <appender-ref ref="stdout_json"/>
    </root>
    <logger name="io.netty" level="INFO"/>
</configuration>
