<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="letterForm">
    <select class="custom-select" (change)="selectLetterTemplate($event)" formControlName="letterTemplateController">
      <option value="" disabled>Velg en brevmal</option>
      <option *ngFor="let template of templates">{{template}}</option>
    </select>

    <div class="field-display">
      <div *ngFor="let field of formFields" class="form-row">
        <app-brev-felt [letterField]="field" [form]="letterForm"></app-brev-felt>
      </div>
    </div>


    <button type="submit" [disabled]="!letterForm.valid">Save</button>
  </form>
</div>

<!--<form [formGroup]="letterForm" (ngSubmit)="onSubmit()">-->


<!--  <ng-container formArrayName="letterField">-->
<!--    <label *ngFor="let field of formFields;let i = index">-->
<!--      First Name:-->
<!--      <input type="text" formControlName="" required>-->
<!--    </label>-->
<!--  </ng-container>-->
<!--  <label>-->
<!--    First Name:-->
<!--    <input type="text" formControlName="firstName" required>-->
<!--  </label>-->

<!--  <label>-->
<!--    Last Name:-->
<!--    <input type="text" formControlName="lastName">-->
<!--  </label>-->

<!--  <div formGroupName="address">-->
<!--    <h3>Address</h3>-->

<!--    <label>-->
<!--      Street:-->
<!--      <input type="text" formControlName="street">-->
<!--    </label>-->

<!--    <label>-->
<!--      City:-->
<!--      <input type="text" formControlName="city">-->
<!--    </label>-->

<!--    <label>-->
<!--      State:-->
<!--      <input type="text" formControlName="state">-->
<!--    </label>-->

<!--    <label>-->
<!--      Zip Code:-->
<!--      <input type="text" formControlName="zip">-->
<!--    </label>-->
<!--  </div>-->

<!--  <button *ngIf="selectedLetter" type="submit" [disabled]="!letterForm.valid">Submit</button>-->
<!--</form>-->
<hr>
<ngx-extended-pdf-viewer [src]='pdf'></ngx-extended-pdf-viewer>


<!--<pdf-viewer #pdf [src]="brevSrc"-->
<!--            [autoresize]="false"-->
<!--            [original-size]='false'-->
<!--            [show-borders]="false"-->
<!--&gt;</pdf-viewer>-->

<!--<pdf-viewer [src]="brevSrc"-->
<!--            [autoresize]="true"-->
<!--            [original-size]='false'-->
<!--            [show-borders]="true"-->
<!--            [stick-to-page]="true"-->
<!--&gt;</pdf-viewer>-->

