.banner {
    display: flex;
    width: 54.375rem;
    height: 3.75rem;
    padding: 0.38rem 2.25rem;
    background: var(--a-gray-50);
    justify-content: space-between;
}

.bannerText {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    margin: auto 0;
}

.content {
    padding: 0;
    margin: 0;
}

.exitButton {

}

.mottakerContent {

}

.actionBar {
    display: flex;
    height: 4.4375rem;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    padding-right: 2.25rem;
}