.spraakVelger {
    display: flex;
    justify-content: flex-end;
    gap: 0.625rem;
    width: 33rem;
}
.spraakVelger Select{
    display: inline-block;
    min-width: 10rem;
}
.spraakVelger label{
    display: inline-block;
    line-height: 2rem;
}

.actionBar {
    display: flex;
    justify-content: flex-end;
    height: 2rem;
}

.editLetterButton {
    margin-right: 1.125rem;
    margin-left: 3.75rem;
}

.orderLetterButton {

}