.content {

}

.locked {
    color: #707070;
    border-left: 0.25rem solid;
    border-top: 0.06rem solid;
    border-bottom: 0.06rem solid;
    border-right: 0.06rem solid;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem 0.25rem 0.63rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lock {

}