body {
    background: var(--a-gray-100);
}

:root {
    --largest-width: 1200px;
    --minimum-width: 768px;
    --header-height: 48px;
    --breadcrumbs-height: 48px;
}

.page-margins {
    max-width: var(--largest-width);
    min-width: var(--minimum-width);
    min-height: calc(100vh - var(--header-height));
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
}