body {
  background: var(--ax-bg-sunken);
  overflow-y: hidden;
}

:root {
  --largest-width: 1500px;
  --minimum-width: 768px;
  --header-height: 49px;
  --breadcrumbs-height: 44px;
  --nav-bar-height: 49px;
}

.page-margins {
  max-width: var(--largest-width);
  min-width: var(--minimum-width);
  height: calc(100vh - var(--header-height) - var(--breadcrumbs-height));
  overflow-y: hidden;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}
