body {
  background: var(--ax-bg-sunken);
  overflow-y: hidden;
}

:root {
  --largest-width: 1500px;
  --minimum-width: 768px;
  --header-height: 48px;
  --breadcrumbs-height: 48px;
  --nav-bar-height: 48px;
  /*
    Hovedinnholdet i hver page skal ha en max høyde som er 'hele skjermen' minus
    høyden av header, breadcrumbs og nav-bar. Dette er for at hovedinnholdet
    skal skape en overflow i containeren sin, og ikke i hele siden.  Eksempler
    brevredigering & brevbehandler sin PDF visning
    */
  --main-page-content-height: calc(100vh - var(--header-height) - var(--breadcrumbs-height) - var(--nav-bar-height));
}

.page-margins {
  max-width: var(--largest-width);
  min-width: var(--minimum-width);
  min-height: calc(100vh - var(--header-height) - var(--breadcrumbs-height));
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}
