.bar {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    gap: 1rem;
    padding: 0.75rem 1.5rem;
    border-bottom: 0.0625rem solid var(--a-border-on-inverted);
    border-radius: 0;
}

.copyButton {
    padding: 0;
}
