
.previewContainer {
    background-color: var(--a-gray-100);
    width: 100%;
}

.pdfViewer {
    background-color: var(--a-gray-100);
}

.previewImage {
    background-color: var(--a-white);
    display: block;
    margin: auto;
    min-width: 50%;
    max-width: 100%;
}

.topMenu {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    background-color: var(--a-surface-action-selected);
    border-bottom: 0.0625rem solid var(--a-border-on-inverted);
}

.topMenuDisabled {
    background-color: var(--a-gray-300);
}

.addToFavourites {
    background-color: var(--a-white);
    display: block;
    float: right;
    margin: 0;
    padding: 0.25rem 0.75rem;
}

.addToFavourites p {
    display: block;
    float: right;
}

.starIcon {
    float: left;
    padding-right: 0.375rem;
}

.letterTitle {
    color: var(--a-text-on-inverted, #FFF);
    /* BodyShort/— Medium Strong */
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 2rem;
}