
.previewContainer {
    border: 0.0625rem solid #00000030;
    display: flex;
    background-color: var(--a-white);
    border-radius: 0.25rem;
    flex-direction: column;
}

.pdfViewer {
    background-color: var(--a-white);
}

.previewImage {
    vertical-align: top;
}

.topMenu {
    display: block;
    height: 3rem;
    background-color: var(--a-blue-100);
    border-bottom: 0.0625rem solid var(--a-gray-300);
}

.zoomButton {
    user-select: none;
    font-size: 2rem;
    display: block;
    text-transform: none;
    float: right;
    margin: 0.5rem 0.75rem 0.5rem 0;
}

.addToFavourites {
    background-color: var(--a-white);
    display: block;
    float: right;
    margin: 0.5rem 2rem 0.5rem 0;
    padding: 0.25rem 0.75rem;
}

.addToFavourites p {
    display: block;
    float: right;
}

.starIcon {
    float: left;
    padding-right: 0.375rem;
}