site:
  title: Systemdokumentasjon for Team Pensjonsbrev
  url: https://navikt.github.io/pensjonsbrev/
  start_page: docs::index.adoc

content:
  sources:
    - url: ..
      start_path: docs
      branches: HEAD

ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true

output:
  dir: ./build/site

asciidoc:
  extensions:
    - asciidoctor-kroki
  attributes:
    kroki-fetch-diagram: true
