{{#if (and page.fileUri (not env.CI))}}
    <div class="edit-this-page"><a href="{{page.fileUri}}">Rediger</a></div>
{{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
    <div class="edit-this-page"><a href="{{page.editUrl}}">Rediger</a></div>
{{/if}}
