name: "Build and deploy asciidoc to github pages"
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "docs/**"
      - ".github/workflows/asciidoctor.yaml"
  push:
    branches:
      - "main"
    paths:
      - "docs/**"
      - ".github/workflows/asciidoctor.yaml"

env:
  JavaDistribution: "temurin"
  JavaVersion: 21

jobs:
  build_site:
    name: "build asciidoc for github pages"
    runs-on: ubuntu-latest
    permissions:
      pages: write
      contents: write
    defaults:
      run:
        shell: bash
        working-directory: "docs"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm ci

      - name: Build Antora Site
        run: npm run build

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/site
      
      - name: Print working directory for test
        run: "pwd"
      
      - name: Upload generated site
        uses: actions/upload-artifact@v5
        with:
          name: site
          path: "${{ github.workspace }}/build"

      - name: Deploy to GitHub Pages
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23
        with:
          folder: "build"
          branch: "gh-pages"
          commit-message: "[CI] Publisere dokumentasjon"

  "klarTilMerge":
    name: "Klar til merge"
    needs: [build_site]
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: ./.github/pr