name: "Build and deploy brevbaker"
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "build.gradle.kts"
      - "gradle.properties"
      - "gradle/libs.versions.toml"
      - "template-model-generator/**"
      - "brevbaker/**"
      - "etterlattemaler/**"
      - "pensjon/maler/**"
      - "alder/maler/**"
      - "ufoere/maler/**"
      - "pensjon/brevbaker/**"
      - ".github/workflows/.build-backend.yaml"
      - ".github/workflows/brevbaker.yml"
      - "!**/**.md"
      - "gradle/wrapper/gradle-wrapper.jar"
      - "gradle/wrapper/gradle-wrapper.properties"
  push:
    branches:
      - "main"
    paths:
      - "build.gradle.kts"
      - "gradle.properties"
      - "gradle/libs.versions.toml"
      - "brevbaker/**"
      - "pensjon/brevbaker/**"
      - "alder/maler/**"
      - "ufoere/maler/**"
      - "etterlattemaler/**"
      - "pensjon/maler/**"
      - ".github/workflows/.build-backend.yaml"
      - ".github/workflows/brevbaker.yml"
      - "!**/**.md"
      - "gradle/wrapper/gradle-wrapper.jar"
      - "gradle/wrapper/gradle-wrapper.properties"
env:
  JavaDistribution: "temurin"
  JavaVersion: 25

permissions:
  contents: read
  packages: read
  id-token: write

jobs:
  buildBrevbaker:
    uses: ./.github/workflows/.build-backend.yaml
    secrets: inherit
    with:
      image_suffix: brevbaker
      path: pensjon/brevbaker
      target: brevbaker
      gradleTarget: pensjon:brevbaker
      extraModulesToBuild: ':pensjon:api-model:publishToMavenLocal :alder:api-model:publishToMavenLocal :ufoere:api-model:publishToMavenLocal'
      buildImage: true

  salsa-brevbaker:
    uses: ./.github/workflows/.salsa.yaml
    needs: buildBrevbaker
    secrets: inherit
    with:
      digest: ${{ needs.buildBrevbaker.outputs.digest }}
      image: ${{ needs.buildBrevbaker.outputs.image }}

  runIntegrationTests:
    name: "Integration tests"
    runs-on: ubuntu-latest-16-cores
    permissions:
      statuses: write
      checks: write
      pull-requests: write
      packages: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLEKEY }}
      - uses: actions/setup-java@v5
        with:
          "distribution": ${{ env.JavaDistribution }}
          "java-version": ${{ env.JavaVersion }}
      - name: "run integration tests"
        run: |
          ./gradlew :brevbaker:api-model-common:publishToMavenLocal 
          ./gradlew :pensjon:api-model:publishToMavenLocal
          ./gradlew :alder:api-model:publishToMavenLocal
          ./gradlew :ufoere:api-model:publishToMavenLocal
          ./gradlew :pensjon:brevbaker:integrationTest
        env:
          "PDF_BYGGER_IMAGE": "ghcr.io/navikt/pensjonsbrev/pdf-bygger:main"
      - name: Publish Test Report
        if: ${{ always() }}
        uses: scacap/action-surefire-report@5609ce4db72c09db044803b344a8968fd1f315da
        with:
          fail_if_no_tests: true
          fail_on_test_failures: true
          report_paths: '**/build/test-results/integrationTest/TEST-*.xml'

  deployBrevbakerToDev:
    name: "Deploy brevbaker to dev"
    uses: ./.github/workflows/.deploy.yaml
    secrets: inherit
    needs: [runIntegrationTests, buildBrevbaker]
    with:
      cluster: "dev-gcp"
      resource: "pensjon/brevbaker/.nais/unleash-api-token-dev-q2.yaml,pensjon/brevbaker/.nais/nais.yaml"
      image: ${{needs.buildBrevbaker.outputs.image}}
      vars: "pensjon/brevbaker/.nais/dev.yaml"

  deployBrevbakerToProduction:
    name: "Deploy brevbaker to production"
    uses: ./.github/workflows/.deploy.yaml
    secrets: inherit
    needs: [runIntegrationTests, buildBrevbaker]
    with:
      cluster: "prod-gcp"
      resource: "pensjon/brevbaker/.nais/unleash-api-token-prod.yaml,pensjon/brevbaker/.nais/nais.yaml"
      image: ${{needs.buildBrevbaker.outputs.image}}
      vars: "pensjon/brevbaker/.nais/prod.yaml"

  "klarTilMerge":
    name: "Klar til merge"
    needs: [buildBrevbaker, runIntegrationTests]
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: ./.github/pr