name: "Build and release brevbaker-api-models"
on:
  workflow_dispatch:
  pull_request:
    branches:
      - "main"
    paths:
      - "pensjon/api-model/**"
      - "alder/api-model/**"
      - "ufoere/api-model/**"
      - "brevbaker/api-model-common/**"
      - ".github/workflows/.build-backend.yaml"
      - ".github/workflows/brevbaker-api-model.yaml"
      - "gradle/wrapper/gradle-wrapper.jar"
      - "gradle/wrapper/gradle-wrapper.properties"
  push:
    branches:
      - "main"
    paths:
      - "pensjon/api-model/**"
      - "alder/api-model/**"
      - "ufoere/api-model/**"
      - "brevbaker-api-model-common/**"
      - ".github/workflows/.build-backend.yaml"
      - ".github/workflows/brevbaker-api-model.yaml"
      - "gradle/wrapper/gradle-wrapper.jar"
      - "gradle/wrapper/gradle-wrapper.properties"

permissions:
  packages: write

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      common: ${{ steps.changes.outputs.common }}
      pensjonsbrev: ${{ steps.changes.outputs.pensjonsbrev }}
      aldersbrev: ${{ steps.changes.outputs.aldersbrev }}
      ufoerebrev: ${{ steps.changes.outputs.ufoerebrev }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: changes
        with:
          filters: |
            common:
              - 'brevbaker/api-model-common/**'
            pensjonsbrev:
              - 'pensjon/api-model/**'
            aldersbrev:
              - 'alder/api-model/**'
            ufoerebrev:
              - 'ufoere/api-model/**'

  release-common:
    name: "brevbaker-api-model-common"
    uses: ./.github/workflows/.release.yaml
    secrets: inherit
    needs: [ changes ]
    with:
      gradleTarget: 'brevbaker:api-model-common'
      release-common-result: 'success'
      changes: ${{ needs.changes.outputs.common }}
      dependsOnCommon: false

  release-pensjon:
    name: "pensjon-brevbaker-api-model"
    uses: ./.github/workflows/.release.yaml
    secrets: inherit
    needs: [ release-common, changes ]
    with:
      gradleTarget: 'pensjon:api-model'
      release-common-result: ${{ needs.release-common.result }}
      changes: ${{ needs.changes.outputs.pensjonsbrev }}

  release-alder:
    name: "alder-api-model"
    uses: ./.github/workflows/.release.yaml
    secrets: inherit
    needs: [ release-common, changes ]
    with:
      gradleTarget: 'alder:api-model'
      release-common-result: ${{ needs.release-common.result }}
      changes: ${{ needs.changes.outputs.aldersbrev }}

  release-ufoere:
    name: "ufoere-api-model"
    uses: ./.github/workflows/.release.yaml
    secrets: inherit
    needs: [ release-common, changes ]
    with:
      gradleTarget: 'ufoere:api-model'
      release-common-result: ${{ needs.release-common.result }}
      changes: ${{ needs.changes.outputs.ufoerebrev }}

  klarTilMerge:
    name: "Klar til merge"
    needs: [release-common, release-pensjon, release-alder, release-ufoere]
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: ./.github/pr