name: Validate nais config
on:
  pull_request:
    paths:
      - '**/.nais/**'
      - ".github/workflows/nais-validation.yml"
      - "validate-nais.sh"

jobs:
  validate:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - run: |
          sh validate-nais.sh

  "klarTilMerge":
    name: "Klar til merge"
    needs: [validate]
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: ./.github/pr