name: Validate nais config
on:
  pull_request:
    paths:
      - '**/.nais/**'
      - ".github/workflows/nais-validation.yml"
      - "validate-nais.sh"

jobs:
  validate:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - run: |
          NAIS_GPG_KEY="/etc/apt/keyrings/nav_nais_gar.asc"
          curl -sfSL "https://europe-north1-apt.pkg.dev/doc/repo-signing-key.gpg" | sudo dd of="$NAIS_GPG_KEY"
          echo "deb [arch=amd64 signed-by=$NAIS_GPG_KEY] https://europe-north1-apt.pkg.dev/projects/nais-io nais-ppa main" | sudo tee /etc/apt/sources.list.d/nav_nais_gar.list
          sudo apt update
          sudo apt install nais
          bash validate-nais.sh

  "klarTilMerge":
    name: "Klar til merge"
    needs: [validate]
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: ./.github/pr