name: Validate nais config
on:
  pull_request:
    paths:
      - '**/.nais/**'
      - ".github/workflows/nais-validation.yml"
      - "validate-nais.sh"

jobs:
  wrapper-validation:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - run: |
          sh validate-nais.sh