name: "Build and deploy pdf-bygger"
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "build.gradle.kts"
      - "gradle.properties"
      - "gradle/libs.versions.toml"
      - "pdf-bygger/**"
      - ".github/workflows/.build-backend.yaml"
      - ".github/workflows/pdfbygger.yml"
      - "!**/**.md"
  push:
    branches:
      - "main"
    paths:
      - "build.gradle.kts"
      - "gradle.properties"
      - "gradle/libs.versions.toml"
      - "pdf-bygger/**"
      - ".github/workflows/.build-backend.yaml"
      - ".github/workflows/pdfbygger.yml"
      - "!**/**.md"
  # Vi må kjøre Percy minst hver 30. dag for å ha en baseline for visuelle tester. Disse planlagte kjøringene er for det formålet.
  schedule:
    - cron: "0 5 1,15 * *"
env:
  "IMAGE_PDF_BYGGER": "ghcr.io/${{ github.repository }}/pdf-bygger:${{ github.sha }}"
  "IMAGE_BRANCH": "ghcr.io/${{ github.repository }}/pdf-bygger:main"
  JavaDistribution: "temurin"
  JavaVersion: 21

permissions:
  contents: read
  packages: read
  id-token: write

jobs:
  buildPdfbygger:
    uses: ./.github/workflows/.build-backend.yaml
    secrets: inherit
    with:
      image_suffix: pdf-bygger
      path: pdf-bygger
      buildImage: true
      uploadJar: true

  pushPdfByggerToGithubRegistry:
    name: "Push pdf-bygger to github registry"
    needs: buildPdfbygger
    runs-on: ubuntu-latest
    permissions:
      packages: "write"
      id-token: "write"
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Download jar
        uses: actions/download-artifact@v6
        with:
          name: pdf-bygger-jar
          path: pdf-bygger/build/libs/
      - name: "Publish PR container image to ghcr.io"
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          echo $GITHUB_TOKEN | docker login --username $GITHUB_REPOSITORY --password-stdin https://ghcr.io
          [ -n "${OUTPUT_IMAGE}" ] && docker pull ${OUTPUT_IMAGE} && docker tag ${OUTPUT_IMAGE} ${IMAGE_PDF_BYGGER}  || docker build --pull --tag ${IMAGE_PDF_BYGGER} pdf-bygger
          docker push ${IMAGE_PDF_BYGGER}
        env:
          "GITHUB_TOKEN": "${{ secrets.GITHUB_TOKEN }}"
          OUTPUT_IMAGE: ${{ needs.buildPdfbygger.outputs.image }}
      - name: "Publish main container image to ghcr.io"
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: |
          echo $GITHUB_TOKEN | docker login --username $GITHUB_REPOSITORY --password-stdin https://ghcr.io
          [ -n "${OUTPUT_IMAGE}" ] && docker pull ${OUTPUT_IMAGE} && docker tag ${OUTPUT_IMAGE} ${IMAGE_BRANCH}  || docker build --pull --tag ${IMAGE_BRANCH} pdf-bygger
          docker push ${IMAGE_BRANCH}
        env:
          "GITHUB_TOKEN": "${{ secrets.GITHUB_TOKEN }}"
          OUTPUT_IMAGE: ${{ needs.buildPdfbygger.outputs.image }}

  salsa-pdfbygger:
    uses: ./.github/workflows/.salsa.yaml
    needs: buildPdfbygger
    secrets: inherit
    with:
      digest: ${{ needs.buildPdfbygger.outputs.digest }}
      image: ${{ needs.buildPdfbygger.outputs.image }}

  changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      latex: ${{ steps.changes.outputs.latex }}
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: changes
        with:
          filters: |
            latex:
              - 'pdf-bygger/containerFiles/latex/**'
              - 'pdf-bygger/Dockerfile'

  runIntegrationTests:
    name: "Integration tests"
    needs: [ pushPdfByggerToGithubRegistry, changes ]
    runs-on: ubuntu-latest-16-cores
    permissions:
      statuses: write
      checks: write
      pull-requests: write
      packages: write
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: gradle/actions/setup-gradle@v5
      - uses: actions/setup-java@v5
        with:
          "distribution": ${{ env.JavaDistribution }}
          "java-version": ${{ env.JavaVersion }}
      - name: "run integration tests"
        run: |
          ./gradlew :brevbaker-api-model-common:publishToMavenLocal 
          ./gradlew :pdf-bygger:integrationTest
        env:
          "GITHUB_TOKEN": "${{ secrets.GITHUB_TOKEN }}"
          "PDF_BYGGER_DIGEST": "${{ github.sha }}"
      - name: Publish Test Report
        if: ${{ always() }}
        uses: scacap/action-surefire-report@5609ce4db72c09db044803b344a8968fd1f315da
        with:
          fail_if_no_tests: true
          fail_on_test_failures: true
          report_paths: '**/build/test-results/integrationTest/TEST-*.xml'
      - name: Upload images
        if: ${{ (needs.changes.outputs.latex == 'true' || (github.ref == 'refs/heads/main' && github.event_name == 'schedule')) }}
        uses: actions/upload-artifact@v5
        with:
          name: visuals
          path: pdf-bygger/build/test_visual/

  analyzeImages:
    name: "Analyze images"
    needs: [ runIntegrationTests, changes ]
    runs-on: ubuntu-latest-16-cores
    if: ${{ (needs.changes.outputs.latex == 'true' || (github.ref == 'refs/heads/main' && github.event_name == 'schedule')) }}
    permissions:
      statuses: write
      checks: write
      pull-requests: write
    steps:
      - name: Download visuals
        uses: actions/download-artifact@v6
        with:
          name: visuals
          path: pdf-bygger/build/test_visual/
      - name: Convert visual-test pdfs
        uses: routsi/ImageMagick-action@v1.1.1
        with:
          command: mogrify -path pdf-bygger/build/test_visual -format png -background white -alpha remove -alpha off -density 230 -quality 85 pdf-bygger/build/test_visual/pdf/*.pdf
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
      - run: npm install --save-dev @percy/cli
      - name: Publish visual-tests to percy
        run: |
          npx percy upload pdf-bygger/build/test_visual/ > percy.log
          cat percy.log
          URL=$(cat percy.log | grep -e "build #[0-9]\+:" | sed 's/^.*build #[0-9]\+: //g')
          if [[ $URL ]]; then echo $URL > percy-build-url;else echo "Percy upload feilet" > percy-build-url;fi
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
      - name: Comment percy review link
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9
        if: ${{ needs.changes.outputs.latex == 'true' && github.event_name == 'pull_request' }}
        with:
          issue-number: ${{ github.event.number }}
          body-path: percy-build-url


  deployPdfByggerToDev:
    name: "Deploy pdf-bygger to dev"
    uses: ./.github/workflows/.deploy.yaml
    secrets: inherit
    needs: [runIntegrationTests, buildPdfbygger]
    with:
      cluster: "dev-gcp"
      resource: "pdf-bygger/.nais/nais.yaml,pdf-bygger/.nais/hpa.yaml"
      image: ${{needs.buildPdfbygger.outputs.image}}
      vars: "pdf-bygger/.nais/dev.yaml"

  deployPdfByggerToProd:
    name: "Deploy pdf-bygger to prod"
    uses: ./.github/workflows/.deploy.yaml
    secrets: inherit
    needs: [runIntegrationTests, buildPdfbygger]
    with:
      cluster: "prod-gcp"
      resource: "pdf-bygger/.nais/nais.yaml,pdf-bygger/.nais/hpa.yaml"
      image: ${{needs.buildPdfbygger.outputs.image}}
      vars: "pdf-bygger/.nais/prod.yaml"

  "klarTilMerge":
    name: "Klar til merge"
    if: ${{ github.event_name == 'pull_request' }}
    needs: [buildPdfbygger, pushPdfByggerToGithubRegistry, runIntegrationTests]
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: ./.github/pr