name: "Build and deploy pdf-bygger"
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "build.gradle.kts"
      - "gradle.properties"
      - "gradle/libs.versions.toml"
      - "brevbaker/pdf-bygger/**"
      - ".github/workflows/.build-backend.yaml"
      - ".github/workflows/pdfbygger.yml"
      - ".github/workflows/cleanup.yml"
      - "gradle/wrapper/gradle-wrapper.jar"
      - "gradle/wrapper/gradle-wrapper.properties"
      - "!**/**.md"
  push:
    branches:
      - "main"
    paths:
      - "build.gradle.kts"
      - "gradle.properties"
      - "gradle/libs.versions.toml"
      - "brevbaker/pdf-bygger/**"
      - ".github/workflows/.build-backend.yaml"
      - ".github/workflows/pdfbygger.yml"
      - ".github/workflows/cleanup.yml"
      - "gradle/wrapper/gradle-wrapper.jar"
      - "gradle/wrapper/gradle-wrapper.properties"
      - "!**/**.md"
  # Vi må kjøre Percy minst hver 30. dag for å ha en baseline for visuelle tester. Disse planlagte kjøringene er for det formålet.
  schedule:
    - cron: "0 5 1,15 * *"
env:
  "IMAGE_PDF_BYGGER": "ghcr.io/${{ github.repository }}/pdf-bygger:${{ github.sha }}"
  "IMAGE_BRANCH": "ghcr.io/${{ github.repository }}/pdf-bygger:main"
  JavaDistribution: "temurin"
  JavaVersion: 25

permissions:
  contents: read
  packages: read
  id-token: write

jobs:
  buildPdfbygger:
    uses: ./.github/workflows/.build-backend.yaml
    secrets: inherit
    with:
      image_suffix: pdf-bygger
      path: brevbaker/pdf-bygger
      target: pdf-bygger
      gradleTarget: brevbaker:pdf-bygger
      buildImage: true
      uploadJar: true

  changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      latex: ${{ steps.changes.outputs.latex }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: changes
        with:
          filters: |
            latex:
              - 'brevbaker/pdf-bygger/containerFiles/latex/**'
              - 'brevbaker/pdf-bygger/Dockerfile'

  deployPdfByggerToDev:
    name: "Deploy pdf-bygger to dev"
    uses: ./.github/workflows/.deploy.yaml
    secrets: inherit
    needs: [buildPdfbygger]
    with:
      cluster: "dev-gcp"
      resource: "brevbaker/pdf-bygger/.nais/nais.yaml,brevbaker/pdf-bygger/.nais/hpa.yaml"
      image: ${{needs.buildPdfbygger.outputs.image}}
      vars: "brevbaker/pdf-bygger/.nais/dev.yaml"