name: "Skribenten backend"
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "build.gradle.kts"
      - "gradle.properties"
      - "gradle/libs.versions.toml"
      - "skribenten-backend/**"
      - ".github/workflows/.build-backend.yaml"
      - ".github/workflows/.deploy.yaml"
      - ".github/workflows/skribenten.yml"
      - "gradle/wrapper/gradle-wrapper.jar"
      - "gradle/wrapper/gradle-wrapper.properties"
  push:
    branches:
      - "main"
    paths:
      - "build.gradle.kts"
      - "gradle.properties"
      - "gradle/libs.versions.toml"
      - "skribenten-backend/**"
      - ".github/workflows/.build-backend.yaml"
      - ".github/workflows/.deploy.yaml"
      - ".github/workflows/skribenten.yml"
      - "gradle/wrapper/gradle-wrapper.jar"
      - "gradle/wrapper/gradle-wrapper.properties"

permissions:
  contents: read
  packages: read
  id-token: write

jobs:
  build-skribenten-backend:
    uses: ./.github/workflows/.build-backend.yaml
    secrets: inherit
    with:
      image_suffix: skribenten-backend
      path: skribenten-backend
      buildImage: true

  salsa:
    uses: ./.github/workflows/.salsa.yaml
    needs: build-skribenten-backend
    secrets: inherit
    with:
      digest: ${{ needs.build-skribenten-backend.outputs.digest }}
      image: ${{ needs.build-skribenten-backend.outputs.image }}

  deploy-skribenten-backend-dev:
    name: "Deploy to dev"
    uses: ./.github/workflows/.deploy.yaml
    secrets: inherit
    needs: build-skribenten-backend
    with:
      cluster: "dev-gcp"
      resource: "skribenten-backend/.nais/unleash-api-token-dev-q2.yaml,skribenten-backend/.nais/nais.yaml"
      image: ${{needs.build-skribenten-backend.outputs.image}}
      vars: "skribenten-backend/.nais/dev.yaml"

  deploy-skribenten-backend-prod:
    name: "Deploy to prod"
    uses: ./.github/workflows/.deploy.yaml
    secrets: inherit
    needs: build-skribenten-backend
    with:
      cluster: "prod-gcp"
      resource: "skribenten-backend/.nais/unleash-api-token-prod.yaml,skribenten-backend/.nais/nais.yaml"
      image: ${{needs.build-skribenten-backend.outputs.image}}
      vars: "skribenten-backend/.nais/prod.yaml"

  "klarTilMerge":
    name: "Klar til merge"
    needs: [build-skribenten-backend]
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: ./.github/pr