name: Template model generator
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "build.gradle.kts"
      - "gradle.properties"
      - "gradle/libs.versions.toml"
      - "template-model-generator/**"
      - ".github/workflows/.build-backend.yaml"
      - ".github/workflows/template-model-generator.yml"
      - "gradle/wrapper/gradle-wrapper.jar"
      - "gradle/wrapper/gradle-wrapper.properties"

permissions:
  contents: read
  packages: read
  id-token: write

jobs:
  build-template-model-generator:
    uses: ./.github/workflows/.build-backend.yaml
    secrets: inherit
    with:
      image_suffix: ''
      path: 'template-model-generator'
      buildImage: false