name: "Build and publish new LaTeX image"
on:
  workflow_dispatch:
jobs:
  "build-container":
    name: "build latest texlive/XeTeX version from ctan"
    runs-on: "ubuntu-latest"
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: "https://ghcr.io"
          username: ${{ github.repository }}
          password: ${{ github.token }}
      - name: "Build Docker image"
        run: |
          docker build --pull --tag ${{ env.IMAGE_LATEX }} -f pdf-bygger/latex.Dockerfile pdf-bygger
      - name: "Push image with sha"
        run: |
          docker push ${{ env.IMAGE_LATEX }}
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    env:
      "IMAGE_LATEX": "ghcr.io/${{ github.repository }}/pensjon-latex:$(date +'%Y-%m-%d-%H_%M')"