name: "Build and publish new LaTeX image"
on:
  workflow_dispatch:
jobs:
  "build-container":
    name: "build latest texlive/XeTeX version from ctan"
    runs-on: "ubuntu-latest"
    permissions:
      packages: write
    steps:
      - name: Create image tag
        run: |
          echo "IMAGE_LATEX=ghcr.io/${{ github.repository }}/pensjon-latex:$(date +'%Y-%m-%d-%H_%M')" >> $GITHUB_ENV
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: "https://ghcr.io"
          username: ${{ github.repository }}
          password: ${{ github.token }}
      - name: "Build image"
        run: |
          docker build --pull --tag ${{ env.IMAGE_LATEX }} -f brevbaker/pdf-bygger/latex.Dockerfile pdf-bygger
      - name: "Push image"
        run: |
          docker push ${{ env.IMAGE_LATEX }}
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"