name: "verify: brevoppskrift-web"

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - .github/workflows/.verify-frontend.yaml
      - .github/workflows/verify-brevoppskrift-web.yaml
      - brevoppskrift-web/**

permissions:
  contents: read

jobs:
  verify:
    uses: ./.github/workflows/.verify-frontend.yaml
    secrets: inherit
    with:
      workingDir: brevoppskrift-web
      cypress: false

  "klarTilMerge":
    name: "Klar til merge"
    needs: [verify]
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: ./.github/pr