name: "verify: skribenten-web"

on:
  pull_request:
    branches:
      - "main"
    paths:
      - .github/workflows/.verify-frontend.yaml
      - .github/workflows/verify-skribenten-web.yaml
      - skribenten-web/**

permissions:
  contents: read

jobs:
  verify:
    uses: ./.github/workflows/.verify-frontend.yaml
    secrets: inherit
    with:
      workingDir: skribenten-web
      cypress: true

  "klarTilMerge":
    name: "Klar til merge"
    needs: [verify]
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: ./.github/workflows/.klar-til-merge.yaml